// About section
.About{
    background: #bcbcbc;
    font-family: 'Poppins', sans-serif;
    background-position: center center;
    background-size: cover;
    min-height: 800px;
    // height:800px;

    h1{
        margin-top:0px;
        font-size: 2rem;
    }
    .grid{
        margin-bottom: 60px;
    }
    article.grid__col{
        // padding-left: 0px;
        line-height: 40px;
    }

    h3{
        font-size: 1.2em;
        padding: 30px 0px;
        border-bottom: 1px solid #333;
        margin-bottom: 0px;
        font-family: 'Poppins', sans-serif;
    }
    .blax-box{
        // border: 1px solid #333;
        background: #333;
        color:#fff;
        padding: 20px;
        padding-bottom:60px;
    
    }
}