

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    display: block;
    width:100%;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    margin-top: 30px;
}

.label-control{
    display: block;
    margin-top:20px;
    // padding-top:110px;
    text-transform: uppercase;
    font-size: 1rem;

}




input[type="checkbox"]{
    background-color: red;
	border: 0;
    font-size: 1rem;
	display: inline-block;
	font-size: 20px;
	height: 8px;
	width: 8px;  
}



input[type="checkbox"] + label:before{
			background-color: #AD208C;
			border: 0;
			content: "";
			display: inline-block;
			font-size: 20px;
			height: 8px;
			width: 8px;
			border-radius: 50px;
			margin: -3px 10px 0 0;
			vertical-align: middle;

	} 


label.check{
    display: inline;
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: center;
    margin-right: 50px;
    
}




button{
    background-color: tomato;
    color:#fff;
    width: 300px;
}

// .check-block{
//     width:100%;
//     display: block;
//     background:#ccc;
//     min-height: 120px;
// }


.btn{
    padding: 20px 100px;
    text-align: center;
    background: tomato;
    color:#fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    border:1px solid tomato;
    margin: 0 auto;
    cursor: pointer;
}