.Inquiry{
    .input-form{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #fff;
      color:#fff;
      display: block;
      width:100%;
      padding: 12px;
      outline: none;
      font-size: 1rem;
      margin-top: 30px;
    }
    .input-text{
      border: 1px solid #fff;
      background-color: #333;
      color:#fff;
      font-size: 1rem;
      padding: 5px;
      width: 100%;

    }
    
    
}