@font-face {
    font-family: 'moderneregular';
    src: url('../public/fonts/Moderne/moderne-webfont.eot');
    src: url('../public/fonts/Moderne/moderne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/Moderne/moderne-webfont.woff') format('woff'),
         url('../public/fonts/Moderne/moderne-webfont.ttf') format('truetype'),
         url('../public/fonts/Moderne/moderne-webfont.svg#moderneregular') format('svg');
    font-weight: normal;
    font-style: normal;

  }
