.Nav{
    background-color: #303030;
    height: 50px;
    color:#fff;
    font-family: 'Poppins', sans-serif;


    // Background transparency;

    // background: -moz-linear-gradient(top, rgba(48,48,48,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, rgba(48,48,48,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, rgba(48,48,48,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
    .label-toggle
    .menu-toggle{
        display: none;
    }
    nav{

        display: block;

        .logo{
            float: left;
            margin-top:-2px;
            cursor: pointer;
           .img{
               z-index: 100;
               display: inline;
               float: left;
               margin:10px 0px 0px 0px; 
            //    width: 30px;
            //    height: 30px;
           }
            a{

                text-decoration: none;
                color:#fff;
                letter-spacing: -1px;
                img{
                    width: 30px;
                    margin-right:3px;
                    padding-top: 12px;
                    float: left;
                }
                span.white{
                    color:#fff;
                }
                span.gray{
                    color:#ADB0B2;
                }
                div{
                    margin-top:15px;
                    float: left;
                }
            }
        }

        ul{
            float: right;
            
            li{
                float: left;
                padding-top: 14px;
                padding-left: 10px;
                a{
                    padding: 7px 15px;
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    font-size: 1.1rem;
                    // font-size:18px;
                
                    &:hover{
                        background: #cfcfcf;
                        color:#333;
                        padding: 3px 15px;
                        border-radius: 60px;


                        animation: fadein 1s;
                        -moz-animation: fadein 1s; /* Firefox */
                        -webkit-animation: fadein 1s; /* Safari and Chrome */
                        -o-animation: fadein 1s; /* Opera */
                    }
                }
            }
        }
    }
}


 @media screen and (max-width: 768px) {

    .header-container{
        max-width:100%;
    }

    .Nav{
        width: 100%;
        display: block;
        background-color: #333;
        .menu-toggle:checked ~ ul {
            opacity: 1;
            height: 100vh;
            visibility: visible;
        }

        
    }

    .Nav nav ul li a{
        display: block;
        width:100%;
         &:hover{
            background: #333;
            color:#fff;
        }

    }

    .Nav nav ul li{
        display: block;
        width:100%;
        background-color: #333; 
       
    }

    .Nav .label-toggle{
        background: linear-gradient(to bottom, #fff 0%, #fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%,#fff 100%); //Gradient Hamburger
      cursor: pointer;
      display: block;
      float: right;
      height: 35px;
      margin-top: 1em;
      width: 35px;
    }
 }



 @media screen and (max-width: 480px) {
    .Nav nav .logo{
        padding-left: 20px;
    }
 }
 
