// @import 'normalize.css';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import 'myer.reset.scss';
@import 'grid.scss'; 
@import 'Moderne.scss';
@import 'fade.scss'; 
@import 'forms.scss';
@import 'base.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'about.scss';

@import 'getting_started.scss';
@import 'footer.scss';


.paddingTop100{
    padding-top: 100px;
}

.btn{
    padding: 20px 100px;
    text-align: center;
    background: tomato;
    color:#fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    border:1px solid tomato;
    margin: 0 auto;
    cursor: pointer;
}








.process{
    font-family: 'Poppins', sans-serif;
    li{
        border-bottom:1px solid #C3BBBB;
        padding: 100px 0px;
        width: 100%; 
        line-height: 40px;
    }
    article{
        text-align: center;
        h3{
            font-size: 2.2rem;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 30px;
            color:#575454;
        }
        p{
            font-size: 1.6rem;
            font-family: 'Poppins', sans-serif;
            width: 50%;
            margin: 0px auto;
            color:#575454;
        }
    }


}





